#container {
    display: flex;
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
}
.grid-item {
    background-color: rgba(255, 0, 0, 0); /* Set background color for grid items */
    border: 1px solid rgb(195, 195, 195); /* Add border for visual separation */    
    height: 0;
    box-sizing: border-box; /* Include border in calculations */
    margin: 0px; /* Adjust gap between grid items as needed */
  }